.App {
  max-width: 50%;
  height: 100vh;
}

#frame {
  padding: 2% 2% 1% 2%;
  margin: 25% auto 5% auto;
  border-radius: 15px;
}

#displayContainer {
  height: 3rem;
}

.btn {
  border: solid black 1px;
  border-radius: 0;
}

#zero {
  border-bottom-left-radius: 10px;
}

#equals {
  border-bottom-right-radius: 10px;
}